@use '../../../styles/constants/colors';

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 720px;
  padding: 2em;
  background-color: colors.$WHITE;
  border-radius: 1.5em;
  box-shadow: 0 25px 27px 2px rgba(207, 207, 207, 25%);
  transform: translate(-50%, -50%);
}
