@use '../../styles/colors';

main {
  width: 100%;
  height: 100%;
  margin: 1em 0 3em;
  overflow-y: auto;

  .wrapper {
    position: relative;

    .loading {
      position: absolute;
      top: 13em;
      left: 50%;
      transform: translate(-50%);

      svg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .waring {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: colors.$FONT_COLOR;
  }

  .comment {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    color: colors.$FONT_COLOR;
    word-wrap: break-word;
  }

  .target {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
  }
}
