.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 110;
  // background-color: rgba($color: #cecece, $alpha: 90%);
  border-radius: 3em;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    padding: 1em;
    margin: -75px -150px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 2px 14px -4px rgba(0, 0, 0, 30%);
    animation: fadeInUp 0.5s;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 1em;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
    }

    button {
      width: 90px;
      height: 40px;
      color: rgb(255, 255, 255);
      background-color: #5882cf;
      border-radius: 20px;

      &:hover {
        background-color: #31579d;
      }
    }

    button:last-child {
      background-color: #99aac4;

      &:hover {
        background-color: #536682;
      }
    }

    button + button {
      margin-left: 1.5em;
    }
    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(30%);
      }

      to {
        opacity: 1;
      }
    }
  }
}
