.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  overflow-y: scroll;

  img {
    width: 150px;
    height: 225px;
    background-size: contain;

    &.noImg {
      content: url('https://oh.on-life.kr/inc/img/no_image.png');
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    margin: 0 0.5em;

    h2 {
      margin-top: 0.4em;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 120%;
      word-break: break-all;
    }

    span {
      margin-top: 0.5em;
      font-size: 0.9rem;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .icon {
    position: absolute;
    right: 0.25em;
    bottom: 0;
    font-size: 1.5rem;
  }
}
